body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  margin: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
